.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 50px;
  }
  #p{
    background-color: rgb(0, 0, 0);
  }

  textarea {
    border: 50px;
    margin-top: 50px;
    overflow: auto;
    outline: none;
    

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;

    resize: none;
}
.accuracy {
  font-size: 40px;
  color: #000000;
  margin-top: 50px;
  border: 50px;
  background-color: rgb(255, 255, 255);
  width: 100px;
  border-radius: 70px;
  height: 100px;
  justify-content: center;
  margin-left: 200px;
  padding-top: 25px;
  


}
.k{
  font-size: 20px;
  color: #000000;
  margin-top: 0px;
  border: 50px;
  background-color: #acb9c8;
  width: 100px;
  height: 00px;
  justify-content: center;
  margin-left: 200px;
  padding-top: 5px;
  

}


.red-text {
  background-color: red;
}


.box {
    background-color: #acb9c8;
    border: 1px solid #000000;
    padding: 20px;
    text-align: center;
    border-radius: 90px;
    border-top: 900px;
    

    margin-bottom: 20px;
    width: 1000px;
    height: 500px;
    

  }

  