
.waiting-container {
    margin-top: 20px;
    text-align: center
    
  }
  
  .waiting-container h2 {
    font-size: 20px;
  }
  
  .spinner {
    margin: 20px auto;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007bff;  
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  table {
    margin: 60px auto;
    border: 5px solid  #000000;
    border-top: 4px solid #000000;
    border-radius: 50%;
    width: 500px;
    height: 50px;
    
    
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    
  }
  
  .th {
    background-color: #ff0000;

    
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }