
.footer {
    background-color: #c1cedb;
    border-top: 1000px solid #ffffff;
    background: rgb(216,231,227);
    background: linear-gradient(90deg, rgba(216,231,227,1) 14%, rgba(238,220,220,1) 85%);
    /* background-color: #c1cedb; */
    /* border-top: 10px solid #ffffff;*/
    

  }
  
  .footer .container {
    padding: 10px;
  }
.container{

    font-weight: 500;
    border-radius: 5px;
    padding: 0px;
    margin-top: 0px;
    

}